*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
/* :root{
    color: hsl(233, 26%, 24%);
    color: hsl(136, 65%, 51%);
    color: hsl(192, 70%, 51%);
    color: hsl(233, 8%, 62%);
    color: hsl(220, 16%, 96%);
    color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 100%);    
} */
/* body {
position: relative;
overflow: hidden;
width: 100vw;
font-family:'public Sans',sans-serif;
} */
a{
    text-decoration: none;
}

header{
    background-color:hsl(0, 0%, 100%);  
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
    align-items: center;
    position: absolute;
    z-index: 2;
    width: 95vw;
}
.TopNavigation li {
    display: inline-block;
}
.TopNavigation li a{
    position: relative;
    margin-left: 20px;
    color: hsl(233, 8%, 62%);
}
.TopNavigation li a::after{
    content: '';
    position: absolute;
    left: 40%;
    transform: translateX(-40%);
    bottom: -35px;
    width: 0;
    height: 4px;
    background: hsl(233, 8%, 62%);
    transition: all .5s;
}
.TopNavigation li a :hover::after{
width: 100%;
}
.dropdown-toggle{
    display: none;
    outline-offset: none;
    border: none;
    background: transparent;
    cursor: pointer;
}
span p {
    color: hsl(233, 8%, 62%);
}
.details{
    background-color:  hsl(0, 0%, 98%);
    display: grid;
    grid-template-columns: 40% 60%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.brief-details{
    display: flex;
    flex-direction: column;
    width: 70%;
    transform: translate(40%, -40%);
}
.request-invite-btn {
    display: grid;
    border: none;
    outline: none;
    all: unset;
    width: 7em;
    background: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: var(--white);
    margin:20px 0;
    padding: 10px 40px;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;

}
.brief-details h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.mockup {
    background: url('./images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50px;
    background-position-y: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mockup-img {
    width: 85%;
    transform: translate(140px,-50px);
}

.reason {
    background-color: var(--lightGrayishBlue);
    padding: 100px 50px;
}
.benefit {
    position: relative;
    padding-bottom: 20px;
    width: 45vw;
}

.benefit h1 {
    font-size: 40px;
    margin: 20px 0;
}

.benefit p {
    color: var(--grayishBlue);
}
.request-invite-btn {
    display: grid;
    border: none;
    outline: none;
    all: unset;
    width: 7em;
    background: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: var(--white);
    margin:20px 0;
    padding: 10px 40px;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
}
.whylist {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}

.whylist > div img {
    padding: 10px 0;
}

.whylist > div h2 {
    padding: 15px 0;
}
.LatestArticles {
    padding: 100px 50px;
    background: var(--veryLightGray);
}

.LatestArticles > h1 {
    font-size: 35px;
    margin-bottom: 30px;
}

.articles{
    display:flex;
    justify-content: space-between;
    gap: 1em;
}

.articles .articlecard {
    background: var(--white);
    border-radius: 10px;
    overflow: hidden;
}

.articleImage{
    width: 100%;
    height: 200px;
    padding-bottom: 15px;
}

.article .PostedBy {
    margin: 0px 0;
}

.article .articletitle {
    font-size: 20px;
    padding: 10px 0;
}

.articledetails{
    padding: 20px;
}

footer {
    background-color: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}
.ft-one {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}

footer ul {
    list-style: none;
}

.sociallink{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.sociallink .logo-img {
    color: #fff;
    padding-bottom: 20px;
}

.sociallink_list li {
    display: inline-block;
    margin-right: 10px;
}

.ft-nav-1 li, .ft-nav-2 li {
    margin: 10px 0;
}

.ft-nav-1 li a, .ft-nav-2 li a {
    color: var(--lightGrayishBlue);
    font-size: 20px;
}

.ft-two {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.ft-two h4 {
    color: var(--grayishBlue);
}


@media screen and (max-width: 765px){
    header {
        padding: 30px 40px;
    }
    .TopNavigation{
        position: absolute;
        top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        width: 80%;
        padding: 40px;
        border-radius: 10px;
        text-align: center;
        opacity: 0;
        transition: all .5s ease-in-out;
    }

    header .TopNavigation li {
        margin: 20px 0;
    }

    header .TopNavigation li a {
        color: var(--darkBlue);
        font-weight: 900;
        font-size: 20px;
    }

    .TopNavigation li a {
        margin: 0;
    }

    .TopNavigation li a::after {
        bottom: -20px;
    }

    header .request-invite-btn{
        display: none;
    }

    .active {
        opacity: 1;
    }
    
    .dropdown-toggle {
        display: block;
    }

    .details {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        background: hsl(220, 16%, 96%);
    }

    .brief-details {
        width: 100%;
        transform: translate(0);
        padding: 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .brief-details h1 {
        width: 95%;
    }

    .brief-details span {
        font-size: 20px;
    }

    .mockup {
        background-size: 100%;
        background-position-x: 120px;
        background-position-y: 30px;
    }

    .mockup-img {
        width: 100%;
        transform: translate(0, -90px);
        filter: invert(10%);
    }

    .reason {
        padding: 40px;
        width: 100vw;
    }

    .reason .whylist {
        flex-direction: column;
    }

    .reason  div {
        width: 93%;
        margin: auto;
        text-align: center;
    }

    .reason div p {
        font-size: 20px;
        color: var(--grayishBlue);
    }

    .LatestArticles {
        padding: 40px;
    }

    .articles {
        flex-direction: column;
    }

    .articles .articlecard {
        width: 100%;
    }

    .articleImage {
        height: 300px;
    }

    .cardbody {
        padding: 10px 20px 40px 20px;
    }
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    .ft-one {
        flex-direction: column;
    }

    .ft-nav-1, .ft-nav-2 {
        text-align: center;
    }

    .ft-nav-1 li, .ft-nav-2 li {
        margin: 20px 0;
    }

    .ft-nav-2 {
        margin-top: -20px ;
    }

    .ft-two {
        justify-content: center;
        align-items: center;
    }

    .ft-two h4 {
        font-size: 20px;
    }
}